@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
}

.toast-container {
  margin-top: 20px; /* Espacio superior para no quedar pegado al borde */
}

.Toastify__toast {
  border-radius: 10px; /* Bordes redondeados */
  font-family: 'Arial', sans-serif; /* Fuente más moderna */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.Toastify__toast--success {
  background: #4CAF50; /* Color verde para éxito */
}

.Toastify__toast--error {
  background: #F44336; /* Color rojo para error */
}

.Toastify__toast--info {
  background: #2196F3; /* Color azul para información */
}

.Toastify__toast--warning {
  background: #FF9800; /* Color naranja para advertencias */
}
